@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        @apply m-0 p-0 box-border;
    }

    body {
        @apply m-0 p-0 overflow-x-hidden font-roboto-slab;
    }
}

@layer components {}

@layer utilities {
 .font-roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
}